<div class="main-body">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 mt-3">
                <p class="mainhead text-center">Bank Application</p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="container loginplate">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 mt-3">
                <h3 class="text-center h4 mb-2 innerhead">Welcome to XYZ Bank</h3>
                <h4 class="text-center h6 mb-2">{{aim}}</h4>
            </div>
            <div class="col-4"></div>
        </div>
        <form (ngSubmit)="login()">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <!-- <input type="text" class="userone" placeholder="Enter Account Number" (change)="accChange($event)">
                <input type="password" class="userone" placeholder="Enter Password" (change)="pswdChange($event)"> -->
                    <input type="text" class="userone" name="acno" [(ngModel)]="acno" placeholder="Enter Account Number">
                    <input type="password" class="userone" name="pswd" [(ngModel)]="pswd" placeholder="Enter Password">
                    <p class="forgotpw"><a href="">Forgot Password</a></p>

                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-danger">Login</button>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <a class="textfp mt-3" routerLink="register">New User? SignUp Now</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>