<div class="main-body">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 mt-3">
                <p class="mainhead text-center">Bank Application Registration</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="container loginplate">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 mt-3">
                <h3 class="text-center h4 mb-2 innerhead">Welcome to XYZ Bank</h3>
                <h4 class="text-center h6 mb-2">{{aim}}</h4>
            </div>
            <div class="col-4"></div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <input type="text" id="uname" name="uname" class="userone" formControlName="uname" placeholder="Enter Username">
                    <div *ngIf="(this.registerForm.get('uname')?.touched || this.registerForm.get('uname')?.dirty) && this.registerForm.get('uname')?.errors" class="error">Invalid Username</div>
                    
                    <input type="text" id="acno" name="acno" class="userone" formControlName="acno" placeholder="Enter Account Number">
                    <div *ngIf="(this.registerForm.get('acno')?.touched || this.registerForm.get('acno')?.dirty) && this.registerForm.get('acno')?.errors" class="error">Invalid Account Number</div>
                    
                    <input type="password" id="pswd" name="pswd" class="userone" formControlName="pswd" placeholder="Enter Password">
                    <div *ngIf="(this.registerForm.get('pswd')?.touched || this.registerForm.get('pswd')?.dirty) && this.registerForm.get('pswd')?.errors" class="error">Invalid Password</div>

                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-danger mt-3">Register</button>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>